[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"

[dev-packages]

[scripts]
counter = "flet run demo-contador/counter.py"
counter_web = "flet run --web demo-contador/counter.py"
controls = "flet run get_started/controls.py"
container = "flet run get_started/container.py"
saludo = "flet run get_started/gretting.py"
todo = "flet run get_started/todo.py"
todo_web = "flet run --web get_started/todo.py"

[requires]
python_version = "3.11"
