[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"

[dev-packages]

[scripts]
counter = "flet run demo-contador/counter.py"
counter_web = "flet run --web demo-contador/counter.py"
controls = "flet run get_started/controls.py"
container = "flet run get_started/container.py"
saludo = "flet run get_started/gretting.py"
todo = "flet run get_started/todo.py"
todo_web = "flet run --web get_started/todo.py"
control_ref = "flet run get_started/control_ref.py"
control_ref_1 = "flet run get_started/control_ref_Ref.py"
text = "flet run displaying-data/text.py"
greeter = "flet run displaying-data/greeter.py"
checkbox = "flet run displaying-data/checkbox.py"
dropdown = "flet run displaying-data/dropdown.py"

[requires]
python_version = "3.11"
